.transition-300ms{
    transition: all 300ms linear;
}
@font-face {
    font-family: thicccboi;
    src: url(../font/THICCCBOI-Regular.ttf);
    font-weight: 400;
  }
  
  @font-face {
    font-family: thicccboi;
    src: url(../font/THICCCBOI-Medium.ttf);
    font-weight: 500;
  }
  
  @font-face {
    font-family: thicccboi;
    src: url(../font/THICCCBOI-SemiBold.ttf);
    font-weight: 600;
  }
  
  @font-face {
    font-family: thicccboi;
    src: url(../font/THICCCBOI-Bold.ttf);
    font-weight: 700;
  }
  *{
  font-family: "thicccboi", sans-serif;
  }
